.produtos{
    margin: 0 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1.75rem;

}

@media screen and (max-width: 1024px) {
    .produtos {
        flex-direction: column;
        margin: 0 0;
        padding-left: 1%;
        align-items: center;
    }
}