.banner__logo{
    width: 17rem;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 22%;
    
}

@media screen and (max-width: 768px) {
    .banner__logo{
        padding-top: 1%;
        width: 13vh;
        top: 10%;
        left: 25%;

    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1280px) { 
    .banner__logo{
        padding-top: 1%;
        width: 23vh;
        top: 15%;
        left: 25%;

    }
}
