.localizacao__titulo{
    margin-bottom: 2rem;
    color: white;
    font-size: 70px;
    font-weight: 100;
    font-family: 'Bebas Neue', cursive;
    padding-top: 2.5rem;
}

@media screen and (max-width: 768px) {
    .localizacao__titulo{
        font-size: 2.5rem;
    }
}