.rodape{
    display: flex;
}

.rodape__horario{
    text-align: center;
    line-height: 20px;
    color: white;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20%;
}

.rodape__contato{
   margin-left: 20%;
   padding-top: 1rem;
}

.rodape__imagem-aiqfome{
    border-radius: 100%;
    width: 43px;
    height: 43px;
}

@media screen and (max-width: 768px) {
    .rodape{
        flex-direction: column;
        align-items: center;
    }
    .rodape__horario, .rodape__contato{
        margin: 0 0;
        padding-top: 0.5rem;
    }
    
}